Flask
mysql-connector-python
scikit-learn
joblib
flask-cors
blinker
certifi
charset-normalizer
click
colorama
fuzzywuzzy
idna
itsdangerous
Jinja2
Levenshtein
MarkupSafe
PyMuPDF
python-dotenv
python-Levenshtein
RapidFuzz
requests
urllib3
Werkzeug